<!-- app/views/messages/_message.html.erb -->
<div class="message" id="message-<%= message.id %>">
  <p class="timestamp"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  <p>
    <strong><%= message.sender.email %>:</strong> <%= message.body %>
  </p>
</div>
