<h1>Notifications</h1>

<div id="notifications" data-controller="notifications" data-notifications-target="list">
  <% @notifications.each do |notification| %>
    <%= render partial: 'notification', locals: { notification: notification } %>
  <% end %>
</div>
