<!-- _filters_modal.html.erb -->

<div id="filters-modal" class="modal" data-controller="filter">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Filters</h2>
      <button type="button" class="close" data-action="click->filter#close">&times;</button>
    </div>
    <div class="modal-body">
      <h3>Instant Booking</h3>
      <div class="checkbox-wrapper-9">
        <input class="tgl tgl-flat" id="cb-instant-booking" type="checkbox"/>
        <label class="tgl-btn" for="cb-instant-booking"></label>
      </div>
      <hr>

      <h3>Number of Places</h3>
      <div>
        <label>Minimum number of places.</label>
        <div class="quantity">
          <button class="minus" aria-label="Decrease">&minus;</button>
          <input type="number" class="input-box" id="number-of-places" value="2" min="1">
          <button class="plus" aria-label="Increase">&plus;</button>
        </div>
      </div>
      <hr>

      <h3>Recent Cars Only</h3>
      <div class="checkbox-wrapper-9">
        <input class="tgl tgl-flat" id="cb-recent-cars" type="checkbox"/>
        <label class="tgl-btn" for="cb-recent-cars"></label>
      </div>
      <hr>

      <h3>Equipment</h3>
      <div class="equipment">
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper"><i class="fas fa-baby"></i> Baby seat</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper"><i class="fas fa-map-marked-alt"></i> GPS</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper"><i class="fas fa-snowflake"></i> Air conditioner</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper"><i class="fas fa-biking"></i> Bike rack</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper"><i class="fas fa-umbrella-beach"></i> Coffre de toit</p>
          </label>
        </div>
        <!-- Add more equipment options here -->
      </div>
      <hr>

      <h3>Gearbox</h3>
      <div class="gearbox">
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper">All</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper">Manual gearbox</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper">Automatic box</p>
          </label>
        </div>
      </div>
      <hr>

      <h3>Engine</h3>
      <div class="engine">
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper">Electric</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper">Hybrid</p>
          </label>
        </div>
        <div class="checkbox-wrapper-33">
          <label class="checkbox">
            <input class="checkbox__trigger visuallyhidden" type="checkbox" />
            <span class="checkbox__symbol">
              <svg aria-hidden="true" class="icon-checkbox" width="28px" height="28px" viewBox="0 0 28 28" version="1" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 14l8 7L24 7"></path>
              </svg>
            </span>
            <p class="checkbox__textwrapper">Combustion</p>
          </label>
        </div>
      </div>
      <hr>

      <h3>Brand</h3>
      <div class="brand">
        <button class="brand-button">Renault</button>
        <button class="brand-button">Peugeot</button>
        <button class="brand-button">Mercedes-Benz</button>
        <button class="brand-button">Audi</button>
        <button class="brand-button">Alfa-Romeo</button>
        <button class="brand-button">BMW</button>
        <button class="brand-button">Chevrolet</button>
        <button class="brand-button">Citroen</button>
        <button class="brand-button">Dacia</button>
        <button class="brand-button">Fiat</button>
        <button class="brand-button">Ford</button>
        <button class="brand-button">Honda</button>
        <button class="brand-button">Hyundai</button>
        <button class="brand-button">Kia</button>
        <button class="brand-button">Land-Rover</button>
        <button class="brand-button">Mazda</button>
        <button class="brand-button">Mini</button>
        <button class="brand-button">Mitsubishi</button>
        <button class="brand-button">Nissan</button>
        <button class="brand-button">Opel</button>
        <button class="brand-button">Seat</button>
        <button class="brand-button">Skoda</button>
        <button class="brand-button">Smart</button>
        <button class="brand-button">Suzuki</button>
        <button class="brand-button">Tesla</button>
        <button class="brand-button">Toyota</button>
        <button class="brand-button">Volkswagen</button>
        <button class="brand-button">Volvo</button>
      </div>
      <hr>

      <button class="apply-button" data-action="click->filter#applyFilters">Apply Filters</button>
    </div>
  </div>
</div>


<style>
  /* Add this to your main stylesheet file */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.modal-title {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
}

.close {
  background: none;
  border: none;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

h3 {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.quantity {
  display: flex;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.quantity button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: background-color 0.2s;
}

.quantity button:hover {
  background-color: #388E3C;
}

.input-box {
  width: 50px;
  text-align: center;
  border: none;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  height: 30px;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
}

.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #4CAF50;
  --c-primary-20-percent-opacity: rgb(76 175 80 / 20%);
  --c-primary-10-percent-opacity: rgb(76 175 80 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11,.29,.18,.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}
.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var (--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}
.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var (--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}
.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}
.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
          animation: ripple-33 1.5s var(--e-out);
}
.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var (--e-out);
  stroke-dashoffset: 0px;
}
.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

.checkbox-wrapper-9 .tgl {
  display: none;
}
.checkbox-wrapper-9 .tgl,
.checkbox-wrapper-9 .tgl:after,
.checkbox-wrapper-9 .tgl:before,
.checkbox-wrapper-9 .tgl *,
.checkbox-wrapper-9 .tgl *:after,
.checkbox-wrapper-9 .tgl *:before,
.checkbox-wrapper-9 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-9 .tgl::-moz-selection,
.checkbox-wrapper-9 .tgl:after::-moz-selection,
.checkbox-wrapper-9 .tgl:before::-moz-selection,
.checkbox-wrapper-9 .tgl *::-moz-selection,
.checkbox-wrapper-9 .tgl *:after::-moz-selection,
.checkbox-wrapper-9 .tgl *:before::-moz-selection,
.checkbox-wrapper-9 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-9 .tgl::selection,
.checkbox-wrapper-9 .tgl:after::selection,
.checkbox-wrapper-9 .tgl:before::selection,
.checkbox-wrapper-9 .tgl *::selection,
.checkbox-wrapper-9 .tgl *:after::selection,
.checkbox-wrapper-9 .tgl *:before::selection,
.checkbox-wrapper-9 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-9 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-wrapper-9 .tgl + .tgl-btn:after,
.checkbox-wrapper-9 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-9 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-9 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-9 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-9 .tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.checkbox-wrapper-9 .tgl-flat + .tgl-btn:after {
  transition: all 0.2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.checkbox-wrapper-9 .tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}
.checkbox-wrapper-9 .tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

.brand-button {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.brand-button:hover {
  background-color: #f0f0f0;
}

.apply-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
}
</style>
