.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show-modal {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.modal.show-modal .modal-content {
  transform: scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.modal-title {
  color: #333;
  margin: 0;
}

.close-modal {
  background: none;
  border: none;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
}

/* Number Input Styles */
.quantity-new {
  display: flex;
  align-items: center;
  border: 2px solid #44A1A0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.btn-minus,
.btn-plus {
  background-color: #44A1A0;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Reduce font size */
  width: 20px; /* Reduce width */
  height: 25px; /* Reduce height */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.btn-minus:hover,
.btn-plus:hover {
  background-color: #388E3C;
}

.input-box-new {
  width: 30px; /* Reduce width */
  text-align: center;
  border: none;
  padding: 0;
  font-size: 14px; /* Adjust font size */
  outline: none;
  height: 25px; /* Reduce height */
  background-color: #fff;
}

.input-box-new::-webkit-inner-spin-button,
.input-box-new::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box-new[type="number"] {
  -moz-appearance: textfield;
}

/* Checkbox Styles */
.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #44A1A0;
  --c-primary-20-percent-opacity: rgb(68 161 160 / 20%);
  --c-primary-10-percent-opacity: rgb(68 161 160 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11, .29, .18, .98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var (--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var (--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

.checkbox-wrapper-9 .tgl {
  display: none;
}

.checkbox-wrapper-9 .tgl,
.checkbox-wrapper-9 .tgl:after,
.checkbox-wrapper-9 .tgl:before,
.checkbox-wrapper-9 .tgl *,
.checkbox-wrapper-9 .tgl *:after,
.checkbox-wrapper-9 .tgl *:before,
.checkbox-wrapper-9 .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-9 .tgl::-moz-selection,
.checkbox-wrapper-9 .tgl:after::-moz-selection,
.checkbox-wrapper-9 .tgl:before::-moz-selection,
.checkbox-wrapper-9 .tgl *::-moz-selection,
.checkbox-wrapper-9 .tgl *:after::-moz-selection,
.checkbox-wrapper-9 .tgl *:before::-moz-selection,
.checkbox-wrapper-9 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-9 .tgl::selection,
.checkbox-wrapper-9 .tgl:after::selection,
.checkbox-wrapper-9 .tgl:before::selection,
.checkbox-wrapper-9 .tgl *::selection,
.checkbox-wrapper-9 .tgl *:after::selection,
.checkbox-wrapper-9 .tgl *:before::selection,
.checkbox-wrapper-9 .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-9 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-9 .tgl + .tgl-btn:after,
.checkbox-wrapper-9 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-9 .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-9 .tgl + .tgl-btn:before {
  display: none;
}

.checkbox-wrapper-9 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-9 .tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}

.checkbox-wrapper-9 .tgl-flat + .tgl-btn:after {
  transition: all 0.2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}

.checkbox-wrapper-9 .tgl-flat:checked + .tgl-btn {
  border: 4px solid #44A1A0;
}

.checkbox-wrapper-9 .tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #44A1A0;
}

/* Feature Item Styles */
.feature-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: calc(50% - 10px); // Ensure items take up 50% of the width minus the gap
  box-sizing: border-box; // Include padding and border in the element's total width and height
}

.feature-item.selected {
  background-color: #44A1A0;
  color: #fff;
  border-color: #44A1A0;
}
.feature-item i {
  margin-right: 10px;
  font-size: 24px;
  color: #333;
}

.feature-item:hover {
  background-color: #44A1A0;
  color: #fff;
  border-color: #44A1A0;
}

.feature-item:hover i {
  color: #fff;
}

/* Features Grid Layout */
.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between; // Ensure equal spacing between items
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .modal-content {
    width: 95%; /* Full width for smaller screens */
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .quantity-new {
    width: 100%; /* Ensure the quantity section spans the full width */
    max-width: none; /* Remove the max-width constraint */
  }

  .btn-minus,
  .btn-plus {
    width: 20px; /* Reduce button width for smaller screens */
    font-size: 14px; /* Reduce font size for smaller screens */
    height: 25px; /* Reduce button height */
  }

  .input-box-new {
    width: 30px; /* Reduce input box width for smaller screens */
    font-size: 12px; /* Reduce font size for smaller screens */
    height: 25px; /* Reduce input box height */
  }

  .equipment-item {
    padding: 8px 10px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .brand-button {
    padding: 8px 10px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}

.apply-filters {
  background-color: #2c6e6d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.apply-filters:hover {
  background-color: #1e4d4c;
}
