
.navbar-lewagon {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 50px;
}

.navbar-toggler {
  border-color: #44A1A0;
}

.navbar-toggler-icon {
  background-color: #44A1A0;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav .nav-item .nav-link {
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #44A1A0;
}

.navbar-nav .nav-item.active .nav-link {
  color: #44A1A0;
}

.navbar-nav .nav-item .dropdown-menu {
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 300px; /* Limit the width of the dropdown */
  word-wrap: break-word; /* Ensure long text wraps within the dropdown */
  z-index: 1050; /* Ensure dropdown appears on top of other elements */
  overflow: hidden; /* Ensure content doesn't overflow */
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #333;
  padding: 10px 20px;
  white-space: normal; /* Allow text to wrap within the item */
  word-wrap: break-word; /* Ensure long words break and wrap within the item */
  overflow-wrap: break-word; /* Ensure long words break and wrap within the item */
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #44A1A0;
  color: white;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.navbar-nav .nav-item .nav-link.sign-up {
  background-color: #44A1A0;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link.sign-up:hover {
  background-color: #388f8f;
}

/* Updated CSS for notification badge */
.navbar-nav .nav-item .badge {
  position: absolute;
  top: 5px; /* Adjust this value to align vertically */
  right: -1px; /* Adjust this value to align horizontally */
  font-size: 0.75rem; /* Adjust font size as needed */
  background-color: #dc3545; /* Bootstrap's danger color */
  color: white;
  border-radius: 50%; /* Makes the badge round */
  padding: 3px 6px; /* Adjust padding to make the badge smaller */
}

.navbar-nav .nav-item {
  position: relative;
  margin-right: 20px; /* Adjust to create more space between items */
}

/* Additional styling for the dropdown to ensure it appears on top */
.dropdown-menu {
  position: absolute;
  z-index: 1050; /* Ensure dropdown appears on top of other elements */
}
