<!-- app/views/cars/_info_window.html.erb -->
<div class="info-window">
  <h4><%= car.car_name %></h4>
  <p><strong>Make:</strong> <%= car.car_make %></p>
  <p><strong>Price per Day:</strong> <%= car.price_per_day %></p>
  <p><strong>Status:</strong> <%= car.status %></p>
</div>
