<!-- app/views/cars/pending_approval.html.erb -->
<h1>Pending Approval</h1>

<div class="cars-container">
  <% @cars.each do |car| %>
    <%= render partial: 'car_details', locals: { car: car } %>
  <% end %>
</div>
